<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head.ejs") %>
</head>

<body>
    
    <!-- Navbar -->
    <h3%- include("../partials/nav.ejs") %>

    <!--! Burada navdaki search css lərindən istifadə etmişəm -->
    <div class="container admin-delete-div nav-search-div mt-5 display-none" style="max-width: 576px;">
        <form class="form-control text-center " method="post">
            <h3 class="m-3">Siz <strong><span class="admin-delete-product"></span></strong> adlı məhsulu silmək istəyirsinizmi?</h3>
            <div class="div">
                <button type="submit" class="btn btn-small py-0 btn-danger">Sil</button>
                <a class="btn btn-small py-0 btn-warning" onclick="hiddenDeleteDiv()">İmtina et</a>
            </div>
        </form>
    </div>

    <div class="container">
        <div class="row mt-5">
            <div class="table-responsive border rounded">
                <table class="table table-hover align-middle">
                    <thead class="">
                        <tr>
                            <th style="width: 100px;"></th>
                            <th></th>
                            <th></th>
                            <th style="width: 50px;"></th>
                        </tr>
                    </thead>

                    <tbody class="">
                        <% products.forEach(product => { %>
                            <tr class="">
                                <td scope="row" class="p-0">
                                    <img class="img img-fluid " src="/static/images/products-images/<%= product.imgUrl %>">
                                </td>
                                <td><%= product.name %></td>
                                <td class="pe-1 text-end">
                                    <a class="btn btn-small border-0 btn-info py-0" href="/admin/edit-product/<%= product.id %>">Redaktə</a>
                                </td>
                                <td class="text-end p-0 p-md-2">
                                    <button class="btn btn-small btn-danger border-0 py-0 text-color-white" name="<%= product.name %>" onclick="showDeleteDiv(this)">Sil</button>
                                </td>
                            </tr>
                        <% }) %>
                    </tbody>

                </table>
            </div>
            
        </div>
    </div>

    

    
    <!-- Bootstrap Js  -->
    <script src="/libr/bootstrap/dist/css/bootstrap.min.css"></script>

    <!-- JavaScript  -->
    <script src="/static/javaScript/index.js"></script>
</body>
</html>